[Unit]
Description=Podman Paperless Pod
Wants=network.target
After=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman pod start paperless
ExecStop=/usr/bin/podman pod stop paperless
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
